*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #D9DADE !important;
}

#section-2-added-cart{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid black; */
    /* height: auto; */
    width: 100vw;
    margin-top: 150px !important;
    max-width: 1560px;
    margin: 0% auto;
}

.container-2-added-cart{
    display: grid;
    grid-template-columns: 3fr 1fr;
    width: 85%;
    height: 90%;
    /* border: 2px solid black; */
    background-color: #F5F5F5;
    box-shadow: 0px 10px 14px -5px #071e2963;
    padding-bottom: 50px;
}

@media (max-width: 1150px) {
    .container-2-added-cart{
        width: 95% !important;
    }
}

@media (max-width: 990px) {
    .container-2-added-cart{
        grid-template-columns: 1fr;
    }
}

@media (max-width: 500px) {
    #section-2-added-cart{
        margin-top: 0px !important;
    }

    .container-2-added-cart{
        width: 100% !important;
    }

    #section-5{
        margin-top: 0px;
    }
}

.left-added-cart{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid black; */
    flex-direction: column;
    justify-content: flex-start;
}

.left-added-cart .one{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 90%;
    /* border: 2px solid red; */
    margin-top: 50px;
}

.left-added-cart .two{
    display: grid;
    grid-template-columns: 3fr 1.5fr 1fr 1fr;
    /* border: 2px solid black; */
    height: 30px;
    width: 90%;
    margin-top: 60px;
}

.quantity{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid black; */
}

.price{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid black; */
}

.total-price{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* border: 2px solid black; */
}

.items_container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: calc(100vh - 200px);
    width: 100%;
    overflow-y: scroll;
}

.items_container::-webkit-scrollbar{
    display: none;
}

.inside_item_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
}

.left-added-cart .third{
    display: grid;
    display: none;
    grid-template-columns: 3fr 1.5fr 1fr 1fr;
    /* border: 2px solid black; */
    margin-top: 30px;
    width: 90%;
    height: 100px;
    margin-bottom: 20px;
    border-bottom: 2px solid black;
}

.availability{
    color: green;
    font-size: 13px;
}

.shoeCategory{
    font-size: 14px;
}

.third .img-display{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* border: 2px solid black; */
}

.img-display img{
    height: 80px;
}

.img-display div{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    height: 100%;
    justify-content: space-evenly;
}

.img-display div h5{
    font-size: 20px;
}

.product_quantity{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    /* border: 2px solid black; */
}

.product_quantity b{
    font-size: 20px;
    margin: 10px 20px;
    font-weight: bolder;
}

.product_quantity b:hover{
    cursor: pointer;
}

.product_quantity span{
    font-size: 20px;
}

.product_price{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 20px;
    /* border: 2px solid black; */
}

.product_total_price{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 20px;
    /* border: 2px solid black; */
}



.right-added-cart{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    /* border: 2px solid black; */
}

.inside-right-added-cart{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: auto;
    /* position: fixed; */
    /* border: 2px solid black; */
    padding: 20px 20px;
}

.inside-right-added-cart .one{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    /* border: 2px solid red; */
    margin-top: 50px;
    text-align: center;
}

.inside-right-added-cart .two{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    width: 100%;
    /* border: 2px solid red; */
    margin-top: 20px;
    text-align: center;
}

.inside-right-added-cart .three{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    height: 30px;
    width: 100%;
    /* border: 2px solid red; */
    margin-top: 20px;
    text-align: center;
}

.inside-right-added-cart .three div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    margin: 10px auto;
    height: 50px;
    padding: 2px 5px;
    font-size: 14px;
    box-shadow: inset 10px 10px 10px 10px #071e292e;
    border-radius: 2px;
}

.inside-right-added-cart .three div i:hover{
    cursor: pointer;
}

.inside-right-added-cart .four{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    /* height: 30px; */
    width: 100%;
    /* border: 2px solid red; */
    margin-top: 30px;
    text-align: center;
}

.inside-right-added-cart .four span{
    font-size: 20px;
}

.inside-right-added-cart .four div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    height: 30px;
}

.right-added-cart .four div input{
    height: 100%;
    width: 80%;
    outline: none;
    border: none;
    background: none;
    border-bottom: 2px solid black;
    padding: 2px 5px;
}

@media (max-width: 700px) {
    .left-added-cart .two{
        grid-template-columns: 1.8fr 1.2fr 1fr 1fr;
    }

    .left-added-cart .third{
        grid-template-columns: 1.8fr 1.2fr 1fr 1fr;
        height: auto;
    }

    .third .img-display{
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .img-display div{
        margin-left: 0px;
    }
}

@media (max-width: 650px) {
    .img-display div h5{
        font-size: 15px;
    }

    .shoeCategory{
        font-size: 13px;
    }

    .availability{
        font-size: 10px;
    }

    .product_price{
        font-size: 18px;
    }

    .product_total_price{
        font-size: 18px;
    }
}

@media (max-width: 450px) {
    .left-added-cart .two{
        grid-template-columns: 2.5fr 1fr 1fr 1.2fr;
    }

    .left-added-cart .third{
        grid-template-columns: 2.5fr 1fr 1fr 1fr;
        height: auto;
    }

    .quantity{
        font-size: 14px;
    }

    .price{
        font-size: 14px;
    }

    .total-price{
        font-size: 14px;
    }

    .availability{
        font-size: 10px;
    }

    .product_price{
        font-size: 14px;
    }

    .product_total_price{
        font-size: 14px;
    }
}

.right-added-cart .four button{
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 150px;
    outline: none;
    background: #071e29;
    color: antiquewhite;
    margin-top: 30px;
    border-radius: 2px;
}

.inside-right-added-cart .five{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    /* border: 2px solid red; */
    margin-top: 50px;
    text-align: center;
}

.inside-right-added-cart .five span{
    font-size: 18px;
}

.right-added-cart .six{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

.right-added-cart .six button{
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 80%;
    outline: none;
    background: #071e29;
    color: antiquewhite;
    margin-top: 30px;
    border-radius: 2px;
}

@media (max-width: 990px) {
    .inside-right-added-cart{
        padding: 20px 150px ;
    }
}

@media (max-width: 700px) {
    .inside-right-added-cart{
        padding: 20px 100px ;
    }
}

@media (max-width: 600px) {
    .inside-right-added-cart{
        padding: 20px 50px ;
    }
}

@media (max-width: 500px) {
    .inside-right-added-cart{
        padding: 20px 20px ;
    }

    .left-added-cart .two {
        grid-template-columns: 1.8fr 1.2fr 1fr;
    }

    .total-price{
        display: none;
    }

    .left-added-cart .third {
        grid-template-columns: 1.8fr 1.2fr 1fr;
    }

    .product_total_price{
        display: none;
    }
}